<div class="container" data-controller="hello">
  <h1 class="index-title">Posts</h1>
  <p>Selecionadas: <span data-hello-target="count">0</span></p>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="index-post">
        <div class="index-post-align">
          <%= check_box_tag "task_ids[]", post.id %>
          <div>
            <p><b>Titulo:</b> <%= post.titulo %></p>
            <p><b>Descrição:</b> <%= post.description %></p>
          </div>
        </div>
        <p>
          <%= link_to ">", post, style: "text-decoration: none; font-weight: 700"%>
        </p>
      </div>
    <% end %>
  </div>
  <div class="index-new-post-align">
    <div class="index-new-post">
      <%= link_to "+", new_post_path, style: "text-decoration: none;"%>
    </div>
  </div>
</div>


